<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/styles2.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <nav id="mainNav">
        <div class="navbar">
            <div class="logo">
                <img src="/logo.png" alt="McKesson Logo">
            </div>
            <ul>
                <li sec:authorize="hasRole('ADMIN')">
                    <div class="panel admin-panel">
                        <span>Admin Panel</span>
                        <ul>
                            <li><a href="#" onclick="fadeOutAndNavigate('/users', event)"><i class="fas fa-users"></i> Manage Users</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="panel central-fill-panel">
                        <span>Central Fill</span>
                        <ul>
                            <li><a href="#" onclick="fadeOutAndNavigate('/packmed', event)"><i class="fas fa-box"></i> PacMed</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="logout">
                <form th:action="@{/logout}" method="post" onsubmit="return fadeOutAndSubmit(this, event)">
                    <button type="submit" class="button"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="main" id="mainContent">
        <div class="main-top">
            <h2>Dashboard</h2>
        </div>
        <div class="welcome-message" id="welcomeMessage">
            <h1>Hello, <span th:text="${#authentication.name}">User</span>!</h1>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <script th:src="@{/js/home.js}"></script>
    
</body>
</html>